/* This is the syle of Auth Pages */
/* Auth Pages are the pages in the folder resources/views/auth */

.authentification-header{
    background-color: var(--main-color) !important;
    font-size: 1rem !important;
    font-weight: bolder !important;
    color: white !important;
}

.authentification-body{
    border: 2px solid var(--main-color) !important;
}

.authentification-button{
    background-color: var(--main-color) !important;
}

.authentification-forgot-link{
    color: var(--main-color) !important;
}