nav{
    background-color: #6351ce ;
    color: white;
}

.navbar-brand{
    color: white !important;
    font-size: 1.8rem !important;
    font-weight: bold !important;
}

.nav-link{
    color: white !important;
    font-size: 1.5rem !important;
    font-weight: bold !important;
}